.pop-up-container{
    background:red;
    text-align: center;
}

button {
    border: #3a3939 2px solid;
    border-radius: 5px;
    background:rgb(240, 240, 240);
    color:black;
    font-size:0.8rem;
    margin:10px 0;
    padding:10px 10px;
    font-weight: 900;
    font-style: italic;
}
button:hover{
    border-color:white;
}

#pop-up-button{
    width:200px;
}

.pop-up{
    opacity:0;
    width:0;
    height:0;
    transition: width 0.2s, height 0.2s, opacity 0.5s, color 0.2s;
    background:rgb(228, 228, 228);
    margin:0 auto;
    text-align: center;
    font-family:sans-serif;
    color:rgba(151, 151, 151, 0);
    
}

.visible{
    visibility:visible;
}
.grow-fade{
    background:rgb(228, 228, 228);
    width:90%;
    height:auto;
    max-width: 90%;
    transition: width 0.2s, height 0.2s, opacity 0.05s;
    opacity:1;
    color:#3a3939;
}

.top{
    padding:5px;
    font-size:1.3rem;
}

.middle{
    padding:0 10px 20px 10px;
    margin:0 10px 0px 10px;
    border-bottom:solid grey 1px;
}
.middle p{
    margin:0;
    text-align: left;
    padding:0 10%;

}

.bottom{
    padding:5px;
    padding-bottom:20px;
    text-align:center;
}

#success-icon img{
    height:28px;
    width:28px;
    padding:10px;
    position:relative;
    top:15px;
    color:green;

}

#continue{
    color:white;
    background:#3a3939;
    font-size:0.8rem;
    font-weight:900;
}
#cancel{
    color:#3a3939;
    font-size:0.8rem;
    font-weight:900;
}

.popup-buttons{
    width:80%;
}

.popup-buttons:hover{
    border-color:white;
}

@media (min-width:767px){
    .bottom{
        display:flex;
        
    }
    .popup-buttons{
        flex:1;
        margin:10px;
    }
}